
<h2>This is IO Demo</h2>
<div>
    <span>Wind speed:<input type="text" [(ngModel)]="aWindspeed"/></span>
    <span>Wind direction:<input type="text" [(ngModel)]="aDirection" /></span>
    <span>At altitude:<input type="text" [(ngModel)]="aAltitude" /></span>
    <span><button (click)="onClick()" style="width: 60px">Add</button></span>
</div>
<div>
    <h2>Selected Wind Component</h2>
        <div>
            <span>Speed:<input type="text" value="{{selWindComp.windspeed}}" readonly="readonly" style="color: red"/></span>
            <span>Direction:<input type="text" value="{{selWindComp.direction}}" readonly="readonly" style="color: red" /></span>
            <span>At altitude:<input type="text" value="{{selWindComp.altitude}}" readonly="readonly" style="color: red" /></span>
        </div>
    <div>
        <ul id="windData">
            <li *ngFor="let wnd of winds; let i=index" (click)="onSelect(i)">
                <div>
                    <span><input class="idxWndDir" [(ngModel)]="wnd.windspeed" [readonly]="wnd.isReadOnly"  type="text" value="{{wnd.windspeed}}" style="background-color :lightgray"/>
                        <input class="idxWndSpeed" [(ngModel)]="wnd.direction"  [readonly]="wnd.isReadOnly" type="text"  value="{{wnd.direction}}" style="background-color :lightgray"/>
                        <input class="idxWndAltitude" [(ngModel)]="wnd.altitude"  [readonly]="wnd.isReadOnly"  type="text"  value="{{wnd.altitude}}" style="background-color :lightgray"/>
                        <button class="idRemoveBtn" (click)="onRemove(i)" style="width: 60px">Remove</button>
                        <button class="idEditBtn" (click)="onEdit(i)" style="width: 60px">Edit</button>
                    </span>  
                </div>            
            </li>
        </ul>
    </div>
</div>