form .line {
    margin: 3px;
}

.xp-font-lg {
    font-size:16px;
    padding: 4px;
}

.xp-font-md {
    font-size:12px;
    padding: 2px;
}

.xp-font-sm {
    font-size:8px;
    padding: 1px;
}

.xp-form-md {
    font-size:12px;
}

.xp-form-input {
    font-size:12px;
    width: 50px;
    height: 20px;
    padding: 2px;
}

.xp-form-button {
    font-size:20px;
    height: 20px;
}

#map {
  height: 80%;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}