<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Test Service</h1>
    <div id="wrapper">
        <div id="navbarwrapper">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Back to Main</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['ListA']">List A</a></li>
                    <li><a [routerLink]="['ListB']">List B</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    This example illustrates how an Angular2 service can be used to communicate between components.
                </div>
                <div class="col-lg-12">
                    The message set below will be passed on to components used to populate the router outlet.
                </div>
            </div>
            <div class="col-lg-12">
                <span>Service Message:<input #modelMsg type="text" placeholder="Service message" /></span>
                <button (click)="onSetMsg(modelMsg.value)">Set Service Message</button>
            </div>           
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        The router outlet goes below here:
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>

