<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<div>
    <h1>Angular2 Templates</h1>
    <div>
        <p (click)="onClickText()" [class]="myTextClass">Angular2 templates can extend the html syntax.<br />
        In this example the style of various components is changed when you click on them.<br />
        This is achieved by changed to relevant bootstrap class.<br />
        (Click this text anyehare to change background colour)
        </p>
    </div>
    <div>
        <p >Click icon to change <span (click)="onClickIcon()"  [class]="myIconClass" ></span></p>
    </div>
    <div>
        Click button to change button style<button type="button" [class]="myButtonClass" (click)="onClickBtn()">Click</button>
    </div>
</div>
    


