
<form [formGroup]="windForm" novalidate (ngSubmit)="save(windForm.value, windForm.valid)" class="form-group">

    <!-- We'll add our form controls here -->
    <div id="speedEntry" >
        <label>Speed</label>
        <input type="text" formControlName="speed" class="form-control">
        <small [hidden]="windForm.controls.speed.valid || (windForm.controls.speed.pristine && !submitted)">
            Speed [kts] is required. Must be a three digit number. If you fly supersonic you can afford the expensive version.
        </small>
    </div>
    <div id="directionEntry" >
        <label>Direction</label>
        <input type="text" formControlName="direction" class="form-control">
        <small [hidden]="windForm.controls.direction.valid || (windForm.controls.direction.pristine && !submitted)">
            Direction is required. Must be numeric and between 0 and 360 unless you have a compass from another planet.
        </small>
    </div>
    <div id="altitudeEntry">
        <label>Altitude</label>
        <select  formControlName="altitude" class="form-control">
            <option *ngFor="let p of altList" [value]="p">{{p}}</option>
        </select>
        <small [hidden]="windForm.controls.altitude.valid || (windForm.controls.altitude.pristine && !submitted)">
            Altitude [feet]. Obviously the values are positive.
        </small>
    </div>
    <button type="submit">Submit</button>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Windspeed</div>
            <div class="col-xs-9  pull-left">{{ model.speed }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Direction</div>
            <div class="col-xs-9 pull-left">{{ model.direction }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Altitude</div>
            <div class="col-xs-9 pull-left">{{ model.altitude }}</div>
        </div>
        <br>
        <button class="btn btn-default" (click)="submitted=false">Edit</button>
    </div>
</form>
Form changes:
<div *ngFor="let event of events">
    <pre> {{ event | json }} </pre>
</div>

