<!--<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./styles/lesson10.styles.css" />
    <link rel="stylesheet" href="/lib/font-awesome-4.6.3/css/font-awesome.css" />
</head>
<div class="container-fluid row">
    <h4>Track Data</h4>
    <table id="trackTable" class="table table-striped table-condensed ">
        <thead>
            <tr>
                <th>Waypoint</th>
                <th>Altitude</th>
            </tr>
        </thead>
        <tbody *ngFor="let track of tracks; let i=index">

            <tr>
                <td id="tdWaypoint" class="col-md-3">
                    {{track.fromLocation}}
                </td>
                <td id="tdAltitude" class="col-md-3">
                    {{track.altitude}}
                </td>
                <td>
                    <i class="fa fa-trash xp-form-button" (click)="onRemove(wind)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid row">
    <form *ngIf="active" (ngSubmit)="onAdd(item)" #windForm="ngForm" class="form-inline">
        <div class="form-group">
            <div>
                <input id="searchInput" type="text" [formControl]="term" class="form-control" [(ngModel)]="model.fromLocation" />
                <ul *ngIf="showList" style="margin-bottom:0px">
                    <li *ngFor="let item of items | async; let i=item" (click)="onSelectLocation($event, item)">{{item.code + " : " + item.description}}</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div>
                <select class="form-control" id="altitude"
                        required
                        data-toggle="tooltip"
                        data-placement="bootom"
                        title="Wind altitude in feet. Select from standard met altitudes"
                        [(ngModel)]="model.altitude" name="altitude"
                        #altitude="ngModel" >
                    <option *ngFor="let p of altList" [value]="p">{{p}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus-square xp-form-button"></i>
            </button>
        </div>
        <div [hidden]="direction.valid || direction.pristine"
             class="alert alert-danger">
            Wind direction is required
        </div>
        <div [hidden]="speed.valid || speed.pristine"
             class="alert alert-danger">
            Wind speed is required
        </div>
        <div [hidden]="altitude.valid || altitude.pristine" class="alert alert-danger">
            Altitude is required
        </div>
    </form>
</div>-->

<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./styles/lesson10.styles.css" />
    <link rel="stylesheet" href="/lib/font-awesome-4.6.3/css/font-awesome.css" />
</head>
<div class="container-fluid row">
    <h4>Track Data</h4>
    <table id="trackTable" class="table table-striped table-condensed ">
        <thead>
            <tr>
                <th>Waypoint</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody *ngFor="let point of waypoints; let i=index">

            <tr>
                <td id="tdWaypoint" class="col-md-3">
                    {{point.code}}
                </td>
                <td id="tdAltitude" class="col-md-3">
                    {{point.description}}
                </td>
                <td>
                    <i class="fa fa-trash xp-form-button" (click)="onRemove(point)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid row">
    <form [formGroup]="trackForm" novalidate (ngSubmit)="onAdd(trackForm.value, trackForm.valid)" class="form-inline form-group col-md-8">
        <div>
            <div id="waypointEntry" class="row">
                <div>
                    <label class="col-md-4">Waypoint</label>
                    <input id="searchInput"
                           type="text"
                           list="waypoints"
                           formControlName="waypoint"
                           [(ngModel)]="waypointRef"
                           style="width:300px"
                           data-toggle="tooltip"
                           (keyup)="onKeyUp($event)"
                           data-placement="bootom"
                           title="Direction is required. Must be numeric and between 0 and 360 unless you have a compass from another planet."
                           class="form-control"
                           [hidden]="trackForm.controls.waypoint.valid || (trackForm.controls.waypoint.pristine && !submitted)"/>
                    <ul   [hidden]="!showList" >
                        <li *ngFor="let item of items | async; let i = index" (click)="onSelectLocation($event)" >{{item.description}}</li>
                    </ul>
                </div>
            </div>
            <div id="altitudeEntry" class="row">
                <span>
                    <label class="col-md-4">Altitude</label>
                    <select formControlName="altitude"
                            data-toggle="tooltip"
                            data-placement="bootom"
                            title="Altitude [feet]. Obviously the values are positive."
                            [hidden]="trackForm.controls.altitude.valid || (trackForm.controls.altitude.pristine && !submitted)"
                            class="col-md-4 form-control">
                        <option *ngFor="let p of altList" [value]="p">{{p}}</option>
                    </select>
                </span>
                <span>
                    <button type="submit" class="btn btn-success" [disabled]="!isSelected">
                        <i class="fa fa-plus-square xp-form-button"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <div class="col-md-4">
        <ul>
            <li *ngFor="let st of stComments">
                {{ st }}
            </li>
        </ul>
    </div>
</div>

